<p id="notice"><%= notice %></p>

<h1>Listing Question Papers</h1>

<table>
  <thead>
    <tr>
      <th>Examid</th>
      <th>Questionid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_papers.each do |question_paper| %>
      <tr>
        <td><%= question_paper.examid %></td>
        <td><%= question_paper.questionid %></td>
        <td><%= link_to 'Show', question_paper %></td>
        <td><%= link_to 'Edit', edit_question_paper_path(question_paper) %></td>
        <td><%= link_to 'Destroy', question_paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question paper', new_question_paper_path %>
